@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;    
    list-style: none;
    outline: none;
    border: none;
    transition: .3s ease;    
}

:root{
    --color-white: #FFF;
    --color-black-letter: #333333;
    --color-black-p: #666365;
    --color-black: #212529;
    --color-gold: #D9AE74;
    --color-grey: #F8F9F9;
    --color-blue: #28638F; 
    --color-blue-hover: #926DAD; 
    --color-ocre: #FFF7EF;
    --color-border: #ccc;
}


html{
    scroll-behavior: smooth;
    font-size: 65.2%;       
}

::-webkit-scrollbar{
    width: 1rem;     
}

::-webkit-scrollbar-thumb{
    width: 2rem;
    background-color: var(--color-gold);
}
::-webkit-scrollbar-track{
    background-color: var(--color-white);    
}

h1,h2,h3{
    font-family: "Adamina", sans-serif;
    color: var(--color-black-letter);
    
}

h2{
    font-size: 3.6rem;   
}

h3{
    font-size: 2.6rem;
}

p{
    font-family: 'PT Serif', serif;
    color: var(--color-black-p);
    font-size: 1.8rem;
}


header{
    background-color: var(--color-white);
    padding: 1rem 0;    
    position: fixed;    
    z-index: 1000;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .1);  
    
}

main{
    overflow-x: hidden;
}

section{
    padding: 0 10%;
    overflow: hidden;
}



.logo img{
    height: 60px;
    color: antiquewhite;
    
}

.nav-list li a{
    color: var(--color-black-letter);
    text-decoration: none;
}

.nav-list li:last-child{
    background-color: var(--color-blue);
    border-radius: 3rem;
    padding: .5rem 1rem;
    color: #fff;    
}

.nav-list li:last-child:hover{
    background-color: var(--color-blue-hover);
       
}

.nav-list li:last-child a{
    color: #FFF;
}

li{
     font-size: 1.8rem;
     cursor: pointer;    
}
li:hover a{
    color: var(--color-gold);
    
}

#menu-btn{
    display: none;
    font-size: 2.8rem;
    z-index: 999;
    cursor: pointer;
    color: #28638F;
    margin-right: 2rem;
}


.home{   
    position: relative;
    padding: 0;    
}

.home{    
    min-height: 80vh; 
    background-color: #28638F;
    background: linear-gradient(to right, #926DAD,#28638F);
    object-fit: cover;
           
}

.home img{
    position: absolute;
    top: 0;
    right: 0;
    
   
}

.img-left{
    top: 0;
    left: 0;
    height: 50%;
}

.home .content{
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 800px;
}

.home .content span{
    color: #FFF;
    font-size: 2.2rem;
}
.home .content h1{
    font-size: 7rem;
    font-family: "Adamina", sans-serif;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 2rem;
}

span{
    color: var(--color-blue);
    font-size: 1.5rem;
     font-weight: bold;
}

.btn{
    font-size: 2rem;
    color: var(--color-white);
    border: #FFF 5px solid ;    
    border-radius: .5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    
    transform: scale(1.1);
    color: var(--color-white);
}

.about{
    min-height: 100vh;    
    background-color: var(--color-white);
}


.about-content h2{
    text-align: start;    
    margin-bottom: 2rem; 
    
}

.about-content p{    
     margin-bottom: 2rem;
}

.about-content button{
    background-color: var(--color-blue);        
}
    
.services{
    background-color: var(--color-grey);
    background-size: cover;   
    min-height: 80vh;  
    margin-bottom: 3rem;  
}
    
.services h2{
    color: var(--color-black-letter);        
    padding-bottom: 4rem;
    
}

.services span{
    color: var(--color-blue);
     font-size: inherit;
     border-bottom: var(--color-blue) 7px solid;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;    
}

.services-content{ 
    background-color: #FFF; 
    padding-left: 2rem;
    padding: 3rem;    
    border-radius: 7px;
    border:rgb(231, 229, 229) 1px solid;   
    
}

.services-content:hover{
    box-shadow: 1px 3px 30px rgba(0, 0, 0, .1);
}

.services-content .container-info{
    text-align: justify;   
        
}



.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-blue);
}

.icon-container i{
    color: var(--color-blue);
    font-size: 5rem;    
    padding: 5rem;    
}

.contact{
    min-height: 100vh;
   
    
}

.title{
    text-align: justify;
    padding-right: 8rem;
}

.title h2{
    text-align: start; 
    margin-bottom: 3rem;
}

.title h2 span{
    
    border-bottom: var(--color-blue) 7px solid;
    font-size: inherit;
}

.title li{
    padding: 1.5rem 0;
    font-weight: 600;
}

.title i{
    padding: 0 1rem;    
}

.title li:hover{
    color: var(--color-blue);
    
}

.title li:hover i{
    margin-right: .5rem;    
} 

.form{    
    padding: 2rem;
}

.form label{
    font-size: 2rem;    
    color: var(--color-black);
}

.form input{
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--color-grey);
    
}

.form textarea{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--color-grey);
}

.form button{
    width: 100%; 
    border: none;
    background-color: #28638F;  
    
}

.form button:hover{
    background-color: #926DAD;
    transform: scale(1);
}

.faq{
    min-height: 60rem;
    padding: 0rem 10%; 
    background-color: var(--color-blue);   
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 4rem;     
    position: relative;
}

.faq img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.faq span{
    border-bottom: 5px solid #FFF;
}

.faq h2{
    color: #FFF;             
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;  
}

.container-question{
    z-index: 100;
    
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #333;   
    padding: 1.5rem;
    height: 80px;
    border-radius: 7px 7px 0 0;
    
}

.question h4{
    font-size: 2rem;
}

.answer{ 
    background-color: rgb(243, 240, 240);
    color: #000; 
    border-radius: 0 0 7px 7px;                 
    
    
    max-height: 0;
    overflow: hidden;
    padding:0 1.5rem;                   
} 

.container-question.active .answer{
    max-height: 300px;
    padding: 1rem;
   
}


.container-question i{
     font-size: 2rem;
     padding: 1rem;
     cursor: pointer;
     background-color: var(--color-blue);
     color: #FFF;
     display: flex;
     justify-content: center;
     align-items: center;
}

    





footer{
    background-color: var(--color-black);
}


footer i{
    padding: 1rem;
    font-size: 2.4rem;
}

footer h3{
    color: var(--color-white);
}

.links-container{
    display: flex;
    flex-direction: column;
    
}

.links-container a{
    color: #FFF;
    font-size: 1.8rem;
    padding: .5rem 0;
    text-decoration: none;
}

.links-container i{
    color: var(--color-white);
    
    font-size: 3rem;
}

.links-container li{
    padding: .5rem 0;
    color: var(--color-white);
}

.links-container.social li{
    display: flex;
    align-items: center;  
    
}

.links-container.social li i{
    margin-right: 10px;
}

footer .copyright{
    font-size: 1.5rem;
    color: var(--color-white);
    letter-spacing: 1px;
}




/* ------------- MEDIA-QUERYS ------------- */

@media(max-width:868px){

    section{
        padding: 0rem 5%;
    }
    .about-content{
        margin-top: 3rem;
        padding: 2%;
    }

    .grid{
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }

    
}

@media (max-width:768px){
    html{
        font-size: 50%;
    }

    
}



@media(max-width:568px){

    section{
        padding: 5rem 2%;
       
    }
    .nav{
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--color-white);
        transform: translateX(100%);
        opacity: 0;
        box-shadow: 3px 14px 15px -10px rgba(0,0,0,0.4);
        
    }

    .nav.active{
        transform: translateX(0);
        opacity: 1;
    }

    .nav-list{
        flex-direction: column;
        padding: 1rem 1.5rem ;
        
    }

    .nav-list li{
        margin: 1rem 0;

    }
    #menu-btn{
        display: inline-block;
        color: #000;
        
    }

    .home .content{
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        inset: 0;
        
    }

    .container-lists{
        flex-direction: column;
        text-align: center;
    }

    .links-container{       
        
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    

    .services h2{
        text-align: center;
    }

    

    .services-content{
        flex-direction: column-reverse;
        padding: 1rem;
        
    }

    .services-content .container-info{
        text-align: center;       
        
            
    }

    .faq h2{
        padding-top: 2rem;
    }

    .form{
        padding: 2rem 0rem;
    }

    .title{
        padding: 0.5rem;
    }

    

    
}