@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;    
    list-style: none;
    outline: none;
    border: none;
    transition: .3s ease;
}

:root{
    --color-white: #FFF;
    --color-black: #000;
    --color-gold: #D9AE74;
    --color-grey: #F2F2F4;
    --color-blue: #28638F; 
    --color-blue-hover: #3877a7; 
    --paragraf: 
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 1rem;  
    
}

::-webkit-scrollbar-thumb{
    width: 2rem;
    background-color: var(--color-gold);
}
::-webkit-scrollbar-track{
    background-color: var(--color-white);
    
}




header{
    background-color: var(--color-white);
    height: 60px;
    position: fixed;    
    z-index: 1000;
    background-color: transparent;
    
    
}

body{
    background-color: #F2F2F4;
}
.logo img{
    width: 65px;
    color: antiquewhite;
    
}

li{
     font-size: 1.5rem;
     cursor: pointer;    
}
li:hover{
    color: var(--color-gold);
}

#menu-btn{
    display: none;
    font-size: 1.8rem;
    z-index: 999;
    cursor: pointer;
}


.home{
    background: url(./img/hammer.jpg);
    background-size: cover;   
    min-height: 80vh;
    position: relative;
    
    
}

.home .content{
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 8%;
}
.home .content h1{
    font-size: 5rem;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 2rem;
}

span{
    color: var(--color-blue);
    font-size: 1.5rem;
     font-weight: bold;
}

.btn{
    font-size: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: .5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--color-blue-hover);
    color: var(--color-white);
}

.about img{
    
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .8);
}

.about-content{
    padding: 0 3rem;
    text-align: justify;
}

.about-content h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-family: 'PT Serif', serif;
}
.about-content p{
     font-size: 1.5rem;
     margin-bottom: 2rem;
}
.about-content button{
    background-color: #28638F;

}













































/* ------------- MEDIA-QUERYS ------------- */

@media(max-width:868px){
    .about-content{
        margin-top: 3rem;
        padding: 2%;
    }
}

@media (max-width:768px){
    html{
        font-size: 60%;
    }

    
}

@media (max-width:568px){
    html{
        font-size: 60%;
    }
}

@media(max-width:568px){
    .nav{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: var(--color-white);
        transform: translateX(100%);
        opacity: 0;
    }

    .nav.active{
        transform: translateX(0);
        opacity: 1;
    }

    .nav-list{
        flex-direction: column;
        padding: 1rem 1.5rem ;
        
    }

    .nav-list li{
        margin: 1rem 0;

    }
    #menu-btn{
        display: inline-block;
        color: #000;
        
    }

    
}